.header {
  background-color: #fff !important;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 0 5px rgb(188, 188, 188);
}

.name {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.logo {
  border-bottom: 1px solid rgb(214, 214, 214);
  padding: 5px 0;
  background-color: #fff;
  text-align: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.dropdown {
  width: 240px;
  padding: 10px;
}

.link {
  display: flex;
  align-items: center;
}

.menu {
  background-color: #fff !important;
  position: sticky;
  position: -webkit-sticky;
  top: 70px;
  right: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 5px rgb(188, 188, 188);
}
.content {
  position: relative;
}
.content::-webkit-scrollbar{
  width: 0 !important;
  height: 0 !important;
}
.headerContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: black;
  background-color: #fff !important;
  border-top: 1px solid rgb(243, 243, 243);
}

.not {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.animate {
  transform: translateY(120%);
  transition: 0.3s ease-in;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.active_animate {
  transform: translateY(0%);
  transition: 0.3s ease-in;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.book_table {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.5, 0.5);
  transition: 0.3s ease-in;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_book_table {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0.5, 0.5);
  transition: 0.2s ease-in;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table_book_table {
  padding: 10px;
}
.box_image {
  width: 100%;
  height: 100%;
  position: relative;
}
.box_image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: contain;
}
