/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */
body {
  flex: 1;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.loading {
  background-image: url("https://i.pinimg.com/originals/ca/89/fb/ca89fbce5e5c68f46d5330946c58ddc6.gif");
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
  height: 100%;
  background-size: calc(100%);
}

@media (min-width: 1024px) {
}
@media (width: 1024px) {
  .list_pro > .img {
    height: 170px;
  }
}
@media (min-width: 739px) and (max-width: 1023px) {
  .list_pro > .img {
    height: 180px;
  }
}

@media (min-width: 539px) and (max-width: 739px) {
  .list_pro > .img {
    height: 170px;
  }
}
@media (min-width: 396px) and (max-width: 538px) {
  .list_pro > .img {
    height: 170px;
  }
}
@media (max-width: 395px) {
  .list_pro > .img {
    height: 150px;
  }
}
